{% extends "base.html" %}
{% block content %}
<h2>Водители</h2>
<ul>
  {% for driver in drivers %}
    <li>
      {{ driver.user.username }} —
      {% if driver.is_busy %}
        🚚 На заказе
      {% else %}
        ✅ Свободен
      {% endif %}
    </li>
  {% endfor %}
</ul>
<h2>Заявки</h2>
<ul>
  {% for order in orders %}
    <li>
      {{ order.from_address }} → {{ order.to_address }} | {{ order.status }}
      {% if order.status == "in_progress" %}
        <a href="{% url 'order_map' order.id %}">Посмотреть маршрут</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock %}
