{% extends "base.html" %}

{% block content %}
<h2>Мои заявки</h2>
<ul>
  {% for order in orders %}
    <li>{{ order.from_address }} → {{ order.to_address }} | {{ order.status }}</li>
  {% endfor %}
</ul>

<h3>Загрузить документ</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Загрузить</button>
</form>



<script>
function startTracking() {
    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(function(position) {
            fetch("/api/update-location/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                })
            }).then(r => console.log("Location sent"));
        });
    } else {
        alert("Геолокация не поддерживается");
    }
}
</script>

<button onclick="startTracking()">🚚 Начать отслеживание</button>

{% endblock %}